<!DOCTYPE html>
<html>
<head>
	<title>
		Varsito
	</title>

  <!--  <link rel="stylesheet" type="text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

</head>

<body data-user='<%=result%>'>

  <div id="container">

	</div>

	<!--  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	  <script type="text/javascript" src="http://localhost:8080/build/vendors.bundle.js"></script>
     <script type="text/javascript" src="http://localhost:8080/build/main.bundle.js"></script>


<!--   <script type="text/javascript" src="/build/vendors.bundle.js"></script>
    <script type="text/javascript" src="/build/main.bundle.js"></script> -->
</body>
</html>
